@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: #444;
}

.gray {
  color: #777;
}

.bold {
  font-weight: 600;
}

.header {
  padding: 2rem 9.6rem;
  margin-bottom: 9.6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 3.2rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 9.6rem 0;
}

.hero-img-container {
  display: flex;
  justify-content: end;
}

.hero-img {
  width: 60%;
}

.primary--heading {
  font-size: 4.8rem;
  font-weight: 600;
  max-width: 40rem;
  line-height: 1;
  margin-bottom: 3.2rem;
}

.hero-text {
  font-size: 2rem;
  max-width: 65rem;
  line-height: 1.8;
}

.cards {
  display: flex;
  gap: 4rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card {
  position: relative;
}

.card-badge {
  position: absolute;
  background-color: white;
  top: 6px;
  left: 8px;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 4px 8px;
  letter-spacing: -0.5px;
  border-radius: 4px;
}

.card--image {
  width: 28rem;
  height: 35.5rem;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.card--star {
  height: 16px;
}

.title {
  font-size: 1.8rem;
}
